.movieCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background: #fafafd;
    width: 150px;
    height: 250px;

}