body{
    margin:0;
    background-image: url('images/bg.jpg');
    background-size: cover;
}
ul {
    list-style: none;
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    gap: 5px;
    width: 60vw;
}

.pagination .page-number {
    font-size: 11px;
    font-weight: 600;
    color: #5555bd;
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pagination .page-number:hover {
    color: #fff;
    background: #5555bd;
}

.pagination .active {
    color: #fff;
    background: #5555bd;
}

.pagination .active:hover {
    color: #5555bd;
    background: #fff;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background: #eeeeff;*/
    width: 70vw;
    margin-left: 15vw;
    margin-top: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.logo {
    text-decoration: none;
    color: var(--color-secondary);
    margin-left: 40px;
    font-size: 35px;
    font-family: "Brush Script MT", "Courier New", monospace;
}

.search {
    width: 400px;
    height: 40px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border: #fafafd;
    border-radius: 50px;
    padding: 20px;

}

.search:focus {
    outline: none !important;
    border: 1px solid #15ab85;
    box-shadow: 0 0 10px #4fe7c9;
}

.moviesContainer {
    background: #d4d4fa;
    /*background:var(--color-primary);*/
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 15vw;
    padding: 15px;
}

.moviesContainer a {
    text-decoration: none;
    color: #5454bd;

}

.moviesContainer a[class='active'] {
    color: #770202;
}

.movieCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1%;
    align-items: center;
    margin: 1%;
    background: #fafafd;
    width: 16%;
    height: 310px;

}

.movieCard:hover {

    border: 1px solid #8481f6;
    box-shadow: 0 0 10px #8885ff;
}

.poster {
    width: 98%;
    margin-bottom: 10px;
}
.title{
    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.vote{
    font-size: 10px;
    color: #e1bc01;
}

.user-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90px;
    height: 100px;
    margin-right: 40px;

}

.user-container:hover{
    cursor: pointer;
}

.user-avatar img{
    width: 40px;
    border-radius: 50%;
}

.user-name{
    margin-left: 10px;
    size:30px;
    font-family: "Lucida Console", "Courier New", monospace;
    /*color: #35355e;*/
    color:var(--color-secondary);
}

.page-number{
    border: none;
}

.moviesInfoContainer{
    background: #d4d4fa;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin-left: 15vw;
    padding: 15px;
}
.posterDiv{
    width: 45%;
}
.movieInfo{
    width: 50%;
}